<%= form_for @profile do |f| %>
    <% @profile.errors.full_messages.each do |msg| %>
        <p class="alert alert-danger"><%= msg %></p>
    <% end %>

    <div class="form-group">
      <label>First Name</label>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Street name</label>
      <%= f.text_field :street, placeholder: "Streetname", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Street number</label>
      <%= f.number_field :streetnumber, placeholder: "Street number", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>ZIP Code</label>
      <%= f.text_field :zipcode, placeholder: "Streetname", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
    </div>
<% end %>



t.boolean  "female"
t.string   "first_name"
t.string   "last_name"
t.string   "street"
t.integer  "streetnumber"
t.string   "zipcode"
t.string   "city"
t.string   "phone_number"
t.date     "birth_date"
t.boolean  "dead"
t.boolean  "newsletter"
t.belongs_to :user
t.integer  "user_id"
t.index ["user_id"], name: "index_profiles_on_user_id", using: :btree
t.datetime "created_at",   null: false
t.datetime "updated_at",   null: false