<h1>Your cart</h1>

<%= link_to 'Empty your cart', cart_clear_path, data: {confirm: "Are you sure?"} %> -
<%= link_to 'Proceed shopping' ,products_path %>

<br>
<br>
<br>
<div class="checkout">
<%= render 'list' %>
</div>


<div class="btn btn-success">
  <% if current_user && @cart.count != 0%>
      <%= link_to "Checkout", checkout_path %>
  <% elsif current_user && @cart.count == 0 %>
      Add something to your cart first before you can pay!
  <% else %>
      <%= link_to "Login/sign up before checkout", new_user_session_path %></div>
  <% end %>
</div>
