<h1>Your cart</h1>

<%= link_to 'Empty your cart', cart_clear_path, data: {confirm: "Are you sure?"} %> -
<%= link_to 'Proceed shopping' ,products_path %>

<br>
<br>
<br>

    <% @cart.each do | id, amount| %>
      <% product = Product.find_by_id( id)%>
      <div class="product-cart">
        <h4><%= product.name %></h1>
        <h5><b>Omschrijving:</b></h5>
        <%= product.description %>
        <p><img src="<%= product.image %>" width="100" /></p>
        <p><b>Price: </b><%= product.price %></p>
        <p><b>Amount: </b><%=  0 + amount%></p>
        <%= link_to "Go to product page", product %>
      </div>
    </li>

<% end %>

<div class="btn btn-success">Checkout</div>
