<h1>Your cart</h1>

<%= link_to 'Empty your cart', cart_clear_path, data: {confirm: "Are you sure?"} %> -
<%= link_to 'Proceed shopping' ,products_path %>

<br>
<br>
<br>
<%= render 'list' %>

<div class="btn btn-success">
  <% if current_user %>
      <%= link_to "Checkout", checkout_path %>
  <% else %>
      <%= link_to "Login/sign up before checkout", new_user_session_path %></div>
  <% end %>
</div>
