  <h1><%= @category.name %></h1>

  <% @products.each do |product| %>
      <% if product.category[:id] == @category[:id] %>
      <div class="product-box">
        <div class="product-box-image"><img class= "product-thumb"  src="<%=product.image%>" /></div>
        <div class="product-box-text">
          <h1><%= link_to product.name, product_path(product.id)%></h1>
          <p><%= product.short_description %></p>
          <%= link_to "Show detailed information", product_path( product.id ), :class => "btn btn-primary btn-sm" %>
        </div>
        <div class="product-box-price">
          <h2><%= number_to_currency(product.price, unit: '€') %></h2>
          <%= link_to("/cart/#{product.id}", method: :post, remote: true) do %>
            <div class="product-buy-button btn btn-success product-add">Add To Cart</div>
          <% end %>
        </div>

      </div>

      <div class="clear"></div>
      <% end %>
  <%end%>
