<!DOCTYPE html>
<html>
  <head>
    <title>Omanido</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  </head>

  <body>
  <!-- Static navbar -->
  <%= render 'shared/navbar' %>

  <% if current_page?(root_path) %>
    <div class="banner">
      <div class="container">
        The shop for all your<br />
        elderly products<br />
        <a href="/products"><div class="go-to-shop--button">Start shopping</div></a>
      </div>
    </div>
  <% end %>

  <% if !current_page?(root_path) %>
    <div class="placeholder"></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <div class="notice-alert"><%= notice %><%= alert %></div>


  <script>  
    $(function() {
      setTimeout(function(){
        $('.notice-alert').slideUp(500);
      }, 2000);
    });

    $(document).ready(function() {
        $('.product-add').click(function(){
          $('.cart-dropdown-check').delay(200).fadeTo('fast', 0.1).delay(50).fadeTo('fast', 1);
          $('.navbar .dropdown:first').addClass('open');
        });

        $('.loadingscreen').delay(3000).fadeOut();
    });
  </script>

  </body>

</html>
