<!DOCTYPE html>
<html>
  <head>
    <title>Omanido</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Static navbar -->
  <%= render 'shared/navbar' %>
  <div class="placeholder"></div>
  <div class="container">
    <%= yield %>
  </div>

  <div class="notice-alert"><%= notice %><%= alert %></div>
  </body>

</html>
